
  
nav {
	background-color: white;
	overflow: hidden;
	padding: 1em;
	text-align: right;
	margin-top: 10px;
}

nav	a {
	color: #8F8F8F;
	text-align: center;
	width: 100%;
}

nav .navWide {
	display: none;
	margin: 0 auto;
}
.mobSav{
	float: left;
	margin-left: 12px;
	margin-top: 5px;
}

nav .navWide .wideDiv a {
	text-decoration: none;
	display: inline-block;
	padding: 0 2em;
}

.bars {
	float: right;
	cursor: pointer;
	margin-right: 5%;
}

nav .navNarrow .narrowLinks a {
	text-decoration: none;
	display: block;
	float: center;
	clear: left;
	padding: 1em 0;
}
.narrowLinks-hidden{
}
.hidden {
  display: none;

  }
  

/*Adjust breakpoint as desired to select when the "hamburger" menu is
replaced by just the links.*/
@media (min-width: 706px) {
	#subMenu4{
	float: right;
	margin-right: 50px;
}
	nav{
			background-color: #F1F2F6;

	}
#subMenu5{
	display: none;
}
	nav .navWide {
		display: block;
	}

	nav .navNarrow {
		display: none;
	}

	
	#subMenu1{
		margin-left: 55px;
	}
    nav{text-align: start;}
	nav a{width: auto;
	text-align: start;}
}
